.btn{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 10vw;
    color: black;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: azure;
    /* color: white; */
}

@media screen and (max-width: 768px) {
    .btn {
        width: 20vw;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .btn {
        width: 30vw;
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .btn {
        font-size: 0.9rem;
        width: 40vw;
    }
}
