.list ul{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
margin-top: 20px;
padding: 0;
gap: 5px;

}

.list ul li{
    background-color: #fff;
    width: 40vw;
    font-size: 2rem;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap; 
    min-width: 250px;  
    overflow: hidden;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

span{
    display: flex;
    /* float: left; */
    width: 450px;
    /* cursor: pointer; */
    scrollbar-width: none;
    flex-wrap: wrap;
    overflow: auto;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}


.checkicon,
.editicon,
.deleteicon {
    width: 20px; 
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.checkicon {
    order: -1; 
}


@media screen and (max-width: 768px) {
    .list ul li {
        font-size: 1rem;
        width: 90%;

    }
    span{
        display: flex;
        float: left;
        scrollbar-width: none;
        flex-wrap: wrap;
        overflow: auto;
    }
}

@media screen and (max-width: 500px) {
    .list ul li {
        font-size: 0.9rem;
        padding: 8px;
    }
    span{
        display: flex;
        float: left;
        scrollbar-width: none;
        flex-wrap: wrap;
        overflow: auto;
    }
}

@media screen and (max-width: 350px) {
    .list ul li {
        font-size: 0.8rem;
        padding: 5px;
        
    }
    span{
        display: flex;
        float: left;
        flex-wrap: wrap;
        overflow: auto;
        scrollbar-width: none;
    }
}